/*
  NOTE PLEASE DESIGN FOR MOBILE FIRST!
  RESIZE YOUR BROWSER TO MOBILE WIDTH!
*/

/* SECTION KEYFRAME */

@keyframes floating{
  from{
    transform: translateY(0px);
  }

  to{
    transform: translateY(-20px);
  }
}

/* !SECTION KEYFRAME END */

/* SECTION GLOBAL */
body, html{
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

.btn{
  text-decoration: none;
  padding: 15px 30px;
  background-color: #346AD3;
  border-radius: 15px;
  width: 70vw;
  margin: auto;
}

.btn a{
  color: white;
  text-decoration: none;
}

/* Box and Text shadow. */
.b-shadow{
  box-shadow: 0 5px 7px rgba(0, 0, 0, .15);
}

.t-shadow{
  text-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.h1{
  font-size: 6.5vw;
}

.h2{
  font-size: 5vw;
}

.h3{
  font-size: 4vw;
}

/* Font weights. Default is 300 (extra light). */
.regular{
  font-weight: 400;
}

.semi-bold{
  font-weight: 500;
}

.bold{
  font-weight: 600;
}

.extra{
  font-weight: 700;
}
/* !SECTION GLOBAL END */


/* SECTION MOBILE VERSION GOES HERE */

/* SECTION NAV */

nav{
  position: relative;
  z-index: 10;
}

nav .container{
  position: fixed;
  right: -490px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #346AD3;
  transition: .5s;
}

nav .container.slide{
  right: 0;
}

nav .logo{
  margin-top: 100px;
}

nav .logo h1{
  font-size: 4vw;
}

nav .links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

nav .links a{
  color: white;
  text-decoration: none;
  font-size: 3vw;
}

nav .hamburger{
  position: fixed;
  top: 10px;
  right: 10px;
}

/* !SECTION NAV END */

/* SECTION HEADER */
header{
  overflow-y: hidden;
  background-image: url('../img/Hero.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  text-align: center;
}

header::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 0;
}

header .container{
  top: 0;
  position: relative;
  z-index: 1;
}

header .container .tagline{
  padding-top: 30vh;
  margin: 0 auto;
  text-align: center;
}

header .tagline span{
  color: #83C2FC;
}

header .container .message{
  margin-top: 20px;
}

header .cta{
  margin-top: 50px;
  transition: .5s;
  cursor: pointer;
}

header .cta:hover{
  background-color: #567ece;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
}
/* !SECTION HEADER END */


/* SECTION ABOUT */

#about{
  color: black;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 100px;
}

.case{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  opacity: 0;
  transform: translateY(-50px);
  transition: 1s;
}

.case .message{
  /* margin: auto; */
  padding: 40px;
}

.case .message .answer{
  margin-top: 20px;
}

.case .illustration img{
  width: 80vw;
}

.case.show{
  opacity: 1;
  transform: translateY(0);
}

/* !SECTION ABOUT END */


/* SECTION SERVICE */

main{
  padding-top: 50px;
  color: black;
  padding-bottom: 200px;
}

main .container .heading{
  text-align: center;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;  
}

.card{
  padding: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  margin-top: 30px;
  border-radius: 20px;
  transition: .5s;
  cursor: pointer;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
}

.card .message h1{
  font-size: 20px;
}

.card .message h2{
  font-size: 15px;
}

.card .message .description{
  margin-top: 10px;
}

main .more{
  text-align: center;
  margin-top: 50px;
}

.more a{
  color: black;
  font-size: 20px;
}

/* !SECTION SERVICE END */

/* SECTION FOOTER */

footer{
  background-color: #1f1f1f;
  padding: 10vh 5vw;
  position: relative;
}

.footer-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title h2{
  font-size: 18px;
}

.footer-title p{
  font-size: 13px;
}

footer hr{
  margin-top: 10px;
}

.footer-contents{
  display: flex;
  flex-direction: column;
}

.footer-contents .content{
  margin-top: 20px;
}

.footer-contents .content h2{
  font-size: 15px;
}

.footer-contents .content p, a{
  font-size: 13px;
}

.content .content-title{
  margin-bottom: 5px;
}

.content .content-sub{
  margin-top: 10px;
}

.content:nth-child(3){
  display: flex;
  flex-direction: column;
}

.content a{
  color: white;
  text-decoration: none;
}

footer .to-top{
  background-color: white;  
  border-radius: 50%;
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  text-align: center;
  animation: floating 1s alternate infinite ease-in-out;
}

footer .to-top a{
  color: #1f1f1f;
  text-decoration: none;
  line-height: 50px;
  padding: 10px 20px;
}

/* !SECTION FOOTER END */

/* !SECTION MOBILE VERSION END */